body {
  background-color: #132743;
  font-family: 'Cutive Mono', monospace;
}

header {
  text-align: center;
}
.work-please {
  margin-right: 90px;
}

.back {
  display: block;
  margin-right: 20px;
}

.main-title {
  display: block;
  background-color: #132743;
  left: 10px;
}

.container {
  margin-right: 90px;
}

.leaderboard-div {
  color: black;
  margin-right: 20px;
}

.card {
  color: #132743;
}
