body {
  background-color: #132743;
  font-family: 'Cutive Mono', monospace;
}

header {
  text-align: center;
}

.back {
  display: block;
  margin-right: 20px;
}

.main-title {
  display: block;
  background-color: #132743;
  left: 10px;
}
